set timeout=0
set default=0

set gfxmode=1024x768x32
set gfxpayload=1024x768x32

menuentry "SuiraBox OS" {
    multiboot2 /boot/suirabox.elf
    module2 /boot/sb-desktop.elf sb-desktop
    module2 /boot/sb-app-settings.elf sb-app-settings
    module2 /boot/sb-app-files.elf sb-app-files
    module2 /boot/sb-app-terminal.elf sb-app-terminal
    boot
}
